.guide_text{
    font-family: "";
    color:var(--white);
    position: absolute;
    rotate:-90deg;
    top:50%;
    transform: translateY(-50%);
    font-size: 36px;
    font-family: "Pretendard";
    font-weight:100;
    font-variation-settings: 'wght' 50, 'wdth' 60;
    animation: breathe 3500ms infinite forwards;
}

@keyframes breathe {
	70% {
		font-variation-settings: 'wght' 300, 'wdth' 300;
	}
	
	100% {
		font-variation-settings: 'wght' 50, 'wdth' 60;
	}
}

.img_hand{
    display: block;
    position: relative;
    left:760px;
    width:800px;
}
.img_hand li{
    display:inline-flex;
    margin:25px;
}
